/* Estilos generales componentes */

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  color:blueviolet;
  text-align: center;
}

h3{
  font-size: 1.5em;
  text-align: center;
}

.md li {
  margin-left: 1em;
}

.md a {
  text-decoration: underline;
}

.md a:hover {
  color: brown;
}

 .md p {
  margin: 1em 0;
  text-align: left;
}

/* Estilos propuestas */
.headProp{
  background-color: #1E1E1E;
  color: #fff;
  padding:8em;
}

.lineas{
  background-color: #4198AA;
  padding: 20px;
  padding-left: 15em;
  padding-right: 15em;
}

.modulo{
  background-color: black;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  color:aliceblue;
  padding: 50px;
  margin-bottom: 10px;
  column-count: 2;
  border-radius: 30px;
  margin-inline: 10em;
  display:grid;

  grid-template-columns: 1fr 4fr; /* First column is smaller (image), second is bigger (text) */
 
}


.propuestas{
  text-align: center;
  align-items: center;
}

.propuestas img{
  width: 20%;
  height: 10%;
  margin-bottom: 50px;
}

/* Estilos componente identidad */

.identidad{
  padding-left: 10em;
  padding-right: 10em;
}

.identidad img{
  width: 100%;
  height: auto;
}

.identidad .section{
  
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 1em;
}

.identidad .list{
  align-items: center;
  display: flex;
  padding-left: 10em;
  padding-right: 10em;
}

.identidad .item{
  display: flex;
  width: 10%;
}

/* Estilos roadmap */
.roadhead{
  text-align: center;
  padding-bottom: 5em;
}

/* Estilos botones componentes */
.custom-btn {
  color: #fff;
  margin-top:20px;
  padding: 10px 25px; 
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

.btn-15 {
  color: #c04aff;
  border: 1px solid#9a1adf;
  box-shadow: 0 0 5px #9a1adf, 0 0 5px #9a1adf inset;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #9a1adf;
  box-shadow:
   0 0 20px  #9a1adf;
  transition: all 0.3s ease;
  border-radius: 10px;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}

