/* Estilos generales componentes */
p{
  margin:1em;
  font-size: 1.15em;
  font:bold ;
}

h1 {
  font-size: 3em;
  text-align: center;
}


h3{
  margin:1em;
  font-size: 1.5em;

}
h4{
  font-size: 1.3em;
  padding:2em

}

p

.md li {
  margin-left: 1em;
}

.md a {
  text-decoration: underline;
  scroll-behavior: smooth;
}

.md a:hover {
  color: brown;
}





/* Estilos propuestas */

 .circle {
  float: left;
  width: 150px;
  height:150px;
  margin: 20px;
  shape-outside: circle(50% at 30%);
  clip-path: circle(50% at 0%);
  background:#06b6d4;
}


/* Estilos roadmap */
.roadhead{
  text-align: center;
  padding-bottom: 5em;
}

/* Estilos botones componentes */
.custom-btn {
  font-family: 'Jersey 10', sans-serif;
  font-size: larger;
  color: #fff;
  margin-top:10px;
  padding: 8px 15px; 
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

.btn-15 {
  color: #ab32ec;
  border: 1px solid#9a1adf;
  box-shadow: 0 0 5px #9a1adf, 0 0 5px #9a1adf inset;
  z-index: 1;
 
}

.btndisabled{
  box-shadow: 0 0 5px black, 0 0 5px black;
  color:black;
  background: #dbd8d8;
  border: 1px solid#c1bcc4;

}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #9a1adf;
  box-shadow:
   0 0 20px  #9a1adf;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.btndisabled:after{
  background: #67606b;
  box-shadow:
   0 0 20px  #9b959f;
  transition: none;
  color:#9b959f
}

.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
